/* Partial Views */

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
}
    
.upper_left {
    border: 1px dotted black;
    grid-row: span 4 / span 4;
}

.bottom_left {
    border: 1px dotted black;
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 5;
}

.top_main {
    border: 1px dotted black;
    grid-column: span 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 1;
}

.main {
    border: 1px dotted black;
    grid-column: span 4 / span 4;
    grid-row: span 5 / span 5;
    grid-column-start: 2;
    grid-row-start: 2;
}

.upper_right {
    border: 1px dotted black;
    grid-row: span 3 / span 3;
    grid-column-start: 6;
    grid-row-start: 1;
}

.bottom_right {
    border: 1px dotted black;
    grid-row: span 3 / span 3;
    grid-column-start: 6;
    grid-row-start: 4;
}
        
        