body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

h1 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 20px auto;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

/* Partial Views */
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.left_nav_top {
    grid-row: span 4 / span 4;
}

.left_nav_btm {
    grid-column-start: 1;
    grid-row-start: 5;
}

.main_content {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
    grid-column-start: 2;
    grid-row-start: 1;
}

.right_contnt_top {
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 1;
}

.right_contnt_btm {
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 4;
}
        