{% extends "base.html" %}

{% block title %}Home - My Flask App{% endblock %}

{% block content %}
<div class="parent">
    <div class="upper_left">
        ads
    </div>
    <div class="bottom_left">
        ads
    </div>
    <div class="top_main">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('main.dashboard') }}">DashBoard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.incomes') }}">Incomes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.expenses') }}">Expenses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Savings</a>
            </li>
        </ul>
    </div>
    <div class="main">
        <!-- Main-->
        <h1>Income: {{incm_total}}</h1>
        {% for item in incomes %}
        <div class="alert alert-success" role="alert">
            <h2>P{{ item.amount }}</h2> {{ item.name }} - {{ item.description }} <a href="{{ url_for('main.edit_record', id=item.id) }}" class="alert-link">Edit</a>
        </div>
        {% endfor %}
        <br>
        <h1>Expenses: {{expn_total}}</h1>
        {% for item in expenses %}
        <div class="alert alert-warning" role="alert">
            <h2>P{{ item.amount }}</h2> {{ item.name }} - {{ item.description }} <a href="{{ url_for('main.edit_record', id=item.id) }}" class="alert-link">Edit</a>
        </div>
        {% endfor %}
    </div>
    <div class="upper_right">
        ads
    </div>
    <div class="bottom_right">
        ads
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>

{% endblock %}