{% extends "base.html" %}

{% block title %}Home - My Flask App{% endblock %}

{% block content %}
<div class="parent">
    <div class="upper_left">
        ads
    </div>
    <div class="bottom_left">
        ads
    </div>
    <div class="top_main">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.dashboard') }}">DashBoard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('main.incomes') }}">Incomes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.expenses') }}">Expenses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Savings</a>
            </li>
        </ul>
    </div>
    <div class="main">
        <!-- Main-->
        <h1>Items List</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Length</th>
                    <th>Amount</th>
                    <th>Owner ID</th>
                </tr>
            </thead>
            <tbody>
                {% for item in incomes %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.length }}</td>
                    <td>{{ item.amount }}</td>
                    <td>{{ item.owner_id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h1>Create a New Record</h1>
        <form method="POST" action="/add">
            <input type="text" id="pg_name" name="pg_name" value="incomes" hidden>
            <input type="text" id="owner_id" name="owner_id" value="1" hidden>

            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br><br>
    
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" required><br><br>
    
            <label for="amount">Amount:</label>
            <input type="number" id="amount" name="amount" required><br><br>
            
            <label for="category">Category:</label>
            <select id="category" name="category" required>
                <option value="income" selected>Income</option>
                <option value="expense">Expense</option>
            </select><br><br>

            <label for="length">Length:</label>
            <select id="length" name="length" required>
                <option value="monthly" selected>Monthly</option>
                <option value="bimonthly" disabled>Bimonthly</option>
                <option value="weekly" disabled>Weekly</option>
            </select><br><br>


            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="upper_right">
        ads
    </div>
    <div class="bottom_right">
        ads
    </div>
</div>
{% endblock %}