{% extends "base.html" %}

{% block title %}Home - My Flask App{% endblock %}

{% block content %}

<div class="parent">
    <div class="upper_left">
        ads
    </div>
    <div class="bottom_left">
        ads
    </div>
    <div class="top_main">
    </div>
    <div class="main">
        <!-- Main-->
        <center>
			<h2>Welcome to BadyetBuddy, your trusted companion for managing budgets and finances with ease and confidence. Let's embark on a journey towards financial freedom together!</h2>
		</center>
    </div>
    <div class="upper_right">
        ads
    </div>
    <div class="bottom_right">
        ads
    </div>
</div>
{% endblock %}