{% extends "base.html" %}

{% block title %}Home - My Flask App{% endblock %}

{% block content %}

<div class="parent">
    <div class="left_nav_top">
        <!-- Left Nav Top-->
        1
    </div>
    <div class="left_nav_btm">
        <!-- Left Nav Botm-->
        2
    </div>
    <div class="main_content">
        <!-- Main-->
        3
        <h1>Hellow</h1>
    </div>
    <div class="right_contnt_top">
        <!-- Right Content Top-->
        4
    </div>
    <div class="right_contnt_btm">
        <!-- Right Content Botm-->
        5
    </div>
</div>
{% endblock %}
